@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap");
@import "tailwindcss";

* {
  font-family: "Momo Trust Display", sans-serif;
}

html {
  background: #3d2b1f;
}
